{% extends 'technic/base.html' %}
{% load my_tags %}
{% block content %}
{% comment %} <div class="conteiner">
<div class="content_form">
    <button onclick="window.history.back(); return false;" class="btn_esc">Назад</button>
    <div class='block_data_news'>
    <div class="header_form heder_article">{{ title }} </div>
    <div class="date_article">{{ object.date }}</div>
    <div class="text_article">{{ object.text }}</div>
    
    
    <div class="btn_block_technic ">
        {% if request.user.role == "admin" or request.user.role == "moderator" %}
        <a class="btn_list btn_news" href="{% url 'news:news_update' object.pk %}">Редактирование</a>
        <a class="btn_list_delete btn_news" href="{% url 'news:news_delete' object.pk %}">Удаление</a>
        {% endif %}
    </div>

</div>
{% comment %} </div> {% endcomment %}
<div class="content_form">
    <button onclick="window.history.back(); return false;" class="btn_esc">Назад</button>
    <div class='block_data_news'>
        <div class="header_form heder_article">{{ title }} </div>
        <div class="date_article">{{ object.date }}</div>
        <div class="text_article">{{ object.text }}</div>
        <div class="btn_block_technic">
            {% if request.user.role == "admin" or request.user.role == "moderator" %}
            <a class="btn_list btn_article" href="{% url 'news:news_update' object.pk %}">Редактирование</a>
            <a class="btn_list_delete btn_article" href="{% url 'news:news_delete' object.pk %}">Удаление</a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

