{% extends 'technic/base.html' %}
{% block content %}
<div class="content_form">
    <div class="header_form">{{ title }}</div>
    <div class="body_form">
        <form method="post" enctype="multipart/form-data">
            <div class="form_form">
                {% csrf_token %}
                {{ form.as_p }}
            </div>
            <div class="button_form">
                <button type="submit" class="btn_enter">Сохранить</button>
                <a href="{% url 'technic:technic_list' %}" class="btn_esc">Назад</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}