{% extends 'technic/base.html' %}
{% load my_tags %}
{% block content %}
<div class="content_form">

    <div class="header_form">{{ title }}</div>
    <div class="body_form">

        <div class="form_form_profile">
            <div class="image_form" style="background-image: url({{ user.avatar|user_media }})">

            </div>
        </div>
        <div class="user_text">
            <span><div class="label_user">Имя:</div> <div>{{user.first_name}}</div></span>
            <span><div class="label_user">Фамилия:</div> <div>{{user.last_name}}</div></span>
            <span><div class="label_user">Почта:</div> <div>{{user.email}}</div></span>
            <span><div class="label_user">Телефон:</div> <div>{{user.phone|default:"не указано"}}</div></span>
            <span><div class="label_user">Телеграмм:</div> <div>{{user.telegram|default:"не указано"}}</div></span>
        </div>
        <div class="button_form">
            <a href="{% url 'users:update_user' %}" class="btn_enter">Редактировать</a>
            <a href="{% url 'technic:technic_list' %}" class="btn_esc">Назад</a>
        </div>
    </div>
</div><span></span>


{% endblock %}