{% if is_paginated %}
<ul class="pagination">
    {% if pag_obj.has_previous %}
    <li><a href="?page={{pag_obj.previous_page_number}}">&laquo; </a></li>
    {% else %}
    <li><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
    {% if page_obj.number == i %}
    <li class="pag_active"><span>&nbsp;стр.{{ i }}&nbsp;</span></li>
    {% else %}
    <li><a href="?page={{ i }}" class="pag_next">&nbsp;стр.{{ i }}&nbsp;</a></li>
    {% endif %}
    {% endfor %}
    {% if pag_obj.has_next %}
    <li><a href="?page={{ pag_obj.next_page_number }}"> &raquo;</a></li>
    {% else %}
    <li><span> &raquo;</span></li>
    {% endif %}
</ul>
{% endif %}