{% load my_tags %}
<div class="block_list_dt">
    
        <ul class="ul_list_dt">
            <li><span style="font-weight: bold;font-size: larger;"> {{ object.name }}</span></li>
            <li><span style="font-weight: bold;">Описание:</span> {{ object.description}}</li>
        </ul>
        <div class ="btn_block_dt">
        <a class="btn_list" href="">Техника</a>
        {% if request.user.role == "admin" or request.user.role == "moderator" %}
        <a class="btn_list" href="{% url 'technic:department_update' object.pk %}">Редактирование</a>
        <a class="btn_list_delete" href="{% url 'technic:department_delete' object.pk %}">Удаление</a>
        {% endif %}
        {% if object.is_active == False %}
        <span style="color: red; text-align: center;">Не активен</span>
        {% endif %}
        </div>
</div>