{% load my_tags %}
<div class="block_list_technic">
{% comment %} <div class="image_list_block_technic" style="background-image: url({{ object.photo|technic_media }})">
    </div> {% endcomment %}
    <div class="line_block_news">
        <div class="block_data_news">
            <span style="font-weight: bold;font-size: larger;"> <h3>{{ object.title }}</h3></span>
            <span class="date_list_news">Дата публикации:{{ object.date}}</span>
            <hr>
        </div>
            <div class="text_block_news">
                <span>Кратко: {{ object.description}}</span>
            </div>
            <div class="btn_block_technic">
                <a class="btn_list btn_news btn_news_inc" href="{% url 'news:news_detail' object.pk %}">Подробнее</a>
                {% if request.user.role == "admin" or request.user.role == "moderator" %}
                <a class="btn_list btn_news btn_news_inc" href="{% url 'news:news_update' object.pk %}">Редактирование</a>
                <a class="btn_list_delete btn_news btn_news_inc" href="{% url 'news:news_delete' object.pk %}">Удаление</a>
                {% endif %}
            </div>
    </div>
</div>

